/**/dist
/**/bin
/**/node_modules
/**/.dockman.yaml
/**/.secrets/
compose/*
/**/test-compose

install/stacks/
/config/
/install/config/
/core/compose
/core/internal/docker/controller-docker-compose.yml
/**/hosts.yaml
/**/build
/**/appdata
/ui/'../
/**/.task
/core/internal/git/git_test/
/install/docker/data/**/dockman.db
/install/docker/stacks/

/**/tmp/
/core/internal/git/tests/
/core/internal/backup/tests/
/install/docker/
/core/internal/git/test
/core/config/dockman.yml
.build
/test-dockman/*
